{% extends 'base.html' %} 

{% block content %}

<style>
h1 {
    color: #0a5f38; 
    background-color: #6c9f88; 
    padding: 10px; 
    text-align: center; 
} 

.container {
    background-color: #cedfd7;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 80%;
}

.btn.add-item-btn {
    background-color: #0a5f38;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn.add-item-btn:hover {
    background-color: #0a5f38;
}
</style>


<h1>Add New Item</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input class="btn add-item-btn" type="submit" value="Add Item" />
            </td>
        </tr>
    </table>
</form>

{% endblock %}