<!DOCTYPE html>
<html>
<body>

<h1>airlib's Book Page</h1>
<p><b>Embrace the World of Books with Us!</b></p>
<br> </br>

<p><b>Name of Book: </b> {{ name }} </p>
<p><b>Amount of Books: </b> {{ amount }} <p>
<p><b>Price ($): </b> {{ price }} </p>
<p><b>Book Description: </b> {{ description }} <p>

<h3>What Do You Want to Do?</h3>
<form action="/action_page.php">
    <input type="radio" id="sell" name="action" value="SELL">
    <label for="sell">SELL</label><br>
    <input type="radio" id="buy" name="action" value="BUY">
    <label for="buy">BUY</label><br>
    <input type="radio" id="borrow" name="action" value="BORROW">
    <label for="borrow">BORROW</label><br><br>
    <input type="submit" value="Submit">
</form>

<br> </br>
<p><b>Novrizal Airsyahputra</b> (2206081780) PBP-A </p>
</body>
</html>