<!DOCTYPE html>
<html>
<body>

<p><b>Nama: </b>{{ nama }}</p>
<p><b>Kelas: </b>{{ kelas }}</p>
<p><b>Aplikasi: </b>{{ aplikasi }}</p>

<!-- Header Application -->
<h1> <font color = green> airlib's Book Page</font> </h1>

<!-- List of Books -->
<h3>Our List of Books:</h3>
<ol type = "1">
        {% for book in books %}
        <li> <div>
            <p><b>Name of Books: </b> {{ book.name }} </p>
            <p><b>Amount of Books: </b> {{ book.amount }} </p>
            <p><b>Price ($): </b> {{ book.price }} </p>
            <p><b>Description: </b> {{ book.description }} </p>
        </div> </li>
        {% endfor %}
</ol>

</body>
</html>